div.footer {
    height: 70px;
    width: 100%;
    background-color: #20232a;
    position: absolute;
    bottom: 0px;
    .footer-content{
        color: #61dafb; 
        text-align: center;
        margin-top: 30px;    }
}
